@tailwind base;
@tailwind components;
@tailwind utilities;

$site-font: "Roboto Mono", monospace;
$heading-font: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
  sans-serif, Apple Color Emoji, Segoe UI Emoji;

:root {
  /* hack for tailwind ring */
  --tw-ring-inset: var(--tw-empty, /*!*/ /*!*/);
  --tw-ring-offset-color: #fff0;
  --tw-ring-offset-width: 0px;

  --site-font: #{$site-font};
  --heading-font: #{$heading-font};

  --primary-color: #16b364;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

[tabindex="-1"]:focus:not(:focus-visible) {
  outline: 0 !important;
}

::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

::-webkit-datetime-edit-fields-wrapper,
::-webkit-datetime-edit-text,
::-webkit-datetime-edit-minute,
::-webkit-datetime-edit-hour-field,
::-webkit-datetime-edit-day-field,
::-webkit-datetime-edit-month-field,
::-webkit-datetime-edit-year-field {
  padding: 0;
}

::-webkit-inner-spin-button {
  height: auto;
}

body {
  text-rendering: optimizeLegibility;
  font-weight: 400;
  color: var(--primary-text-color);
  background-color: var(--primary-background-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
  line-height: 1.5;
  font-size: 14px;
  font-family: var(--site-font);
  width: 100vw;
  overflow-x: hidden;
  min-height: 100vh;
}

img {
  object-fit: contain !important;
}

.table-responsive {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.x-line-clamp-1 {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  line-clamp: 1;
  overflow: hidden;
}
.x-line-clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  line-clamp: 2;
  overflow: hidden;
}
.x-line-clamp-3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  line-clamp: 3;
  overflow: hidden;
}

.x-line-clamp-6 {
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  line-clamp: 6;
  overflow: hidden;
}

.x-line-clamp-7 {
  display: -webkit-box;
  -webkit-line-clamp: 7;
  -webkit-box-orient: vertical;
  line-clamp: 7;
  overflow: hidden;
}

.no-select {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.no-drag {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}

.long-text-break {
  white-space: pre-wrap; /* CSS3 */
  white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
  white-space: -pre-wrap; /* Opera 4-6 */
  white-space: -o-pre-wrap; /* Opera 7 */
  word-wrap: break-word; /* Internet Explorer 5.5+ */
}

// fix lỗi ảnh svg bị mất size trong iOS safari
svg {
  flex-shrink: 0;
}

.loading {
  animation: rotating 500ms linear infinite;
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.font-heading {
  font-family: var(--heading-font);
}

form .MuiOutlinedInput-notchedOutline > legend {
  width: auto !important;
  line-height: 11px !important;
}

// swiper slider
.swiper-button-disabled {
  pointer-events: none !important;
  cursor: not-allowed !important;
  opacity: 0.35 !important;
}
 .swiper-slide-active {
   border: 1px solid var(--primary-color);
 }
